@keyframes rockit {
  from {
    transform: translatey(30px) rotate(-45deg);
  }
  to {
    transform: translatey(30px) rotate(10deg);
  }
}

@keyframes bubble-transparent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}

@keyframes cork {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float1 {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes float2 {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes swim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

.rockit {
  animation: rockit 3s ease infinite alternate;
}
.cork {
  animation-name: cork;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bubble-transparent {
  animation-name: bubble-transparent;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.float2 {
  animation: float2 4s ease-in-out infinite alternate;
}

.float1 {
  animation: float1 4s ease-in-out infinite alternate;
}
.twinkle {
  animation: fadeIn 0.5s 0.2s linear infinite alternate;
}
.swim {
  animation: swim 2s linear infinite alternate;
}
